<?xml version='1.0' encoding='utf-8'?>
<widget id="com.exams.examseriesjamb" version="1.2.15" android-versionCode="10145" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JAMB QUIZ 2019</name>
    <description>
        Jamb Quiz is an online test engine that aims at promoting academic excellence and performance amongst candidates preparing for Joint admissions and matriculation examinations.It provides an online exam simulation where candidates are subjected to the real examination situation.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        JAMB QUIZ 2019
    </author>
    <content src="index.html" />

    <preference name="android-build-tool" value="gradle" />
    <preference name="phonegap-version" value="cli-9.0.0" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="21"/>
    <preference name="android-targetSdkVersion" value="28"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="AndroidLaunchMode" value="singleTop"/>
    <preference name="android-signed" value="true"/>

   
    

   <!--
    <plugin name="cordova-plugin-device" source="npm" spec="2.0.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="2.0.2" />
   
-->
    <plugin name="phonegap-plugine-multidex" spec="1.0.0"/>
    <plugin name="cordova-plugin-whitelist" spec="1.3.3"/>
    
<!--    <plugin name="cordova-plugin-uniquedeviceid" source="npm" />-->
	
     <plugin name="cordova-plugin-codeplay-facebookads-free" spec="0.0.5" />


    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
		
        
		
    </platform>
    
   
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
